<div class='container'>
<div class="jumbotron">
  <h1>Welcome back <%= @current_user.username %>!</h1>
  <br><br>
  <p><a class="btn btn-primary btn-lg" href="/users/:user_id/players" role="button">Speed up your fantasy sports update now!</a></p>
</div>
</div>


